[submodule "libreriaPCB"]
	path = libreriaPCB
	url = https://github.com/LDMat/libreriaPCB.git
[submodule "HardwareLibrary"]
	path = HardwareLibrary
	url = https://github.com/reyantonalvaro/HardwareLibrary.git
